body {
    padding: 0 0 30px 0;
    background-color: #fafafa;
    letter-spacing: -0.3px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    line-height: 1.6;
    font-weight: 400;
    font-family: open sans, Helvetica, Arial, sans-serif;
    height: 100vh;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
}

body > div, .full-height {
    height: 100%;
}

.ant-card.criclebox {
    box-shadow: 0px 20px 27px #0000000d;
    border-radius: 12px;
}

.grid-3{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0.9rem;
}

.grid-4{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 0.9rem;
}

.vertical-align{
    display: flex;
    align-items: center;
}

.gap-2{
    gap: 2rem
}

/* ---LOGIN--- */
.login-page{
    width: 35%;
}
.ant-card.login-page > .ant-card-body{
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---LAYOUT--- */
.sider{
    display: flex;
    height: 100%;
}
.sidebar{
    flex: 1;
    height: 100%;
}
.content{
    flex: 5;
    height: 100%;
    margin: 2rem 1rem;
}

.menu{
    background-color: transparent;
    border: none;
    color: black;
    margin-top: 2rem;
    padding-left: 1rem;
}

.ant-menu-item-selected{
    box-shadow: 0px 20px 27px #0000000d;
    background-color: white !important;
    border-radius: 8px;
}

.ant-menu-item::after{
    border-right: 0 !important;
}

/* -- Add Patient -- */

.autofill-upload {
    width: 10%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
    /*margin: auto*/
}

/* -- UPLOAD DATA -- */
.upload-data-card{
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    margin: auto
}

.upload-data-container{
    margin-top: 10rem;
}

/* ---USER PAGE --- */
.header-style{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@keyframes rotate{
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}
.loading-spinner {
    animation: rotate infinite 3s;
}

@keyframes heartbeat{
    0% {transform: scale(0.5)}
    100% {transform: scale(1)}
}

.heart{
    animation: heartbeat infinite 3s;
}

/* --- PATIENT DETAILS --- */
.monitor-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* --- HOME ---- */
.doctors-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}